@import "tailwindcss";
@plugin "daisyui";




 * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav li .active {
  color: black;
  background-color: white;
  border-radius: 30px 30px;
  background: rgba(255, 255, 255, 0.816);
}

.nav2 li .active {
  color: black;
}
